.modal {
    position: absolute;
    top:20%;
    padding: 1.5rem;
    background: #fff;
    border: 1px solid #a8a8a8;
    box-shadow: 5px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.addcard__modal,
.addcard__title,
.addcard__description {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.addcard__modal {
    margin: auto;
}
.button-container  {
     justify-content: space-around;
}